<nav class="sidebar" [class.collapsed]="isCollapsed" (mouseenter)="isCollapsed = false" (mouseleave)="isCollapsed = true">
  <!-- Logo -->
  <div class="logo">
    <div class="logo-text">
      <span class="fusion"></span>
      <span class="edge" *ngIf="!isCollapsed">FusionEdge</span>
    </div>
  </div>

  <!-- Menu -->
  <div class="sidebar_menu">
    <!-- Top-level Menu Items like Home / Dashboard -->
    <a
      *ngFor="let item of topLevelMenuItems"
      class="menu-item"
      [routerLink]="['/' + item.MenuViewName.toLowerCase()]"
      routerLinkActive="active"
    >
      <img
        class="icon-img"
        [src]="'assets/icons/' + (item.Icon || 'default.png')"
        [alt]="item.DisplayName + ' Icon'"
      />
      <span class="label">{{ item.DisplayName }}</span>
    </a>

    <!-- Ordered Sections from sectionOrder -->
    <ng-container *ngFor="let section of sectionOrder">
      <ng-container *ngIf="groupedMenu[section]">
        <hr class="group-divider" />
        <div class="section-title" *ngIf="!isCollapsed">{{ section }}</div>

        <a
          *ngFor="let item of groupedMenu[section]"
          class="menu-item"
          [routerLink]="['/' + item.MenuViewName.toLowerCase()]"
          routerLinkActive="active"
        >
          <img
            class="icon-img"
            [src]="'assets/icons/' + (item.Icon || 'default.png')"
            [alt]="item.DisplayName + ' Icon'"
          />
          <span class="label">{{ item.DisplayName }}</span>
        </a>
      </ng-container>
    </ng-container>
  </div>
</nav>