<nz-steps [nzCurrent]="current" size="small">
  <nz-step nzTitle="Case Initiation"></nz-step>
  <nz-step nzTitle="Evaluation"></nz-step>
  <nz-step nzTitle="Ongoing"></nz-step>
  <nz-step nzTitle="On Hold"></nz-step>
  <nz-step nzTitle="Resolution"></nz-step>
</nz-steps>

<!-- <div class="steps-content">
  {{ index }}
</div> -->

<div class="steps-action">
  <button *ngIf="current > 0" nz-button nzType="default" (click)="pre()">Back</button>
  <button *ngIf="current < 4" nz-button nzType="primary" (click)="next()">Next</button>
  <button *ngIf="current === 4" nz-button nzType="default" (click)="done()">Done</button>
</div>


<!-- call-details-component.html -->

<div class="caller-container">
  <div class="call-ref">
    <p>Case Ref. Number: {{ caseRef || 'N/A' }} <span class="status">(Closed)</span></p>
    <div>
      <button>Contact History</button>
      <button>About</button>
      <button>Exit</button>
      <button>SMS</button>
      <button>Send Email</button>
    </div>
  </div>


  
  <mat-tab-group>
    <mat-tab label="Caller">
      <!-- Caller content goes here -->
      <app-caller-details></app-caller-details>
    </mat-tab>
    <mat-tab label="Validation">
      <!-- Validation content -->
      <app-validation></app-validation>
    </mat-tab>
    <mat-tab label="Voucher/SMS">
      <!-- Voucher/SMS content -->
      <app-voucher-sms></app-voucher-sms>
    </mat-tab>
    <mat-tab label="Complaints">
      <!-- Complaints content -->
      <app-complaints></app-complaints>
    </mat-tab>
    <mat-tab label="Documents">
      <!-- Documents content -->
      <app-documents></app-documents>
    </mat-tab>
  </mat-tab-group>

  