<div class="ag-theme-alpine" style="width: 100%">
  <ag-grid-angular
    class="ag-grid-responsive"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="single"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [domLayout]="'autoHeight'"
    [rowClassRules]="rowClassRules"
    [getRowClass]="getRowClass"
    [components]="components"
    [animateRows]="true"
    [getContextMenuItems]="getContextMenuItems"
    (cellValueChanged)="onCellValueChanged($event)">
  </ag-grid-angular>
</div>